<%= simple_form_for(@usuario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :clave %>
    <%= f.input :conf_clave %>
    <%= f.input :correo %>
    <%= f.input :tipo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
